<form [formGroup]="createRoleForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Rôle" formControlName="rolename" name="rolename" required>
      <mat-error *ngIf="createRoleForm.controls.rolename.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <mat-card-actions class="btn-submit">
      <button mat-raised-button (click)="save()" type="submit" color="primary">Créer un rôle</button>
    </mat-card-actions>
    <br/>
    <br/>
</form>