<div class="container">
  <h3> Recherche de dossier médical patient</h3>
  <form class="example-form" [formGroup]="registerForm">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="N° Sécu" formControlName="secu">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nom" formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Prénom" formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Adresse" formControlName="address">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Téléphone" formControlName="phone">
    </mat-form-field>

    <mat-radio-group aria-label="Sexe" >
      <input value="Homme" name="sex" type="radio" formControlName="sex"/>Homme
      <input value="Femme" name="sex" type="radio" formControlName="sex"/>Femme
    </mat-radio-group>

        <button mat-raised-button (click)="search()" color="primary" style="margin:3%">Rechercher</button>
        <button mat-raised-button (click)="nouveauDMP()" color="primary" *ngIf="!isVisible">Nouveau</button>

    <mat-card (click)="ouvrirDmp(dmp.id)" style="margin:3%;cursor:pointer" *ngFor="let dmp of dmps">
      <h3 matLine> {{dmp.patient.firstName}} {{dmp.patient.lastName}} </h3>
      <p matLine>
        <span>{{dmp.patient.socialSecurityNumber}} </span>
      </p>
    </mat-card>
  </form>
</div>
