
<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <mat-select  (selectionChange)="changedSpinner($event.value)">
    <mat-option *ngFor="let option of options" [value]="option['name']">{{option['name']}}</mat-option>
  </mat-select>
</mat-form-field>