<form [formGroup]="createUserForm">
    <app-spinner-list style="margin:3%" [label]="'Role'" [url]="'/admin/getAllRoles'" (onSelectValue)='selectRole($event)'></app-spinner-list>
    <app-spinner-list style="margin:3%" [label]="'Hopital'" [url]="'/admin/getAllHospitals'" (onSelectValue)='selectHopital($event)'></app-spinner-list>
    <app-spinner-list *ngIf="role !== null && role['name'] !== 'ROLE_ADMIN' && hospital !== null" style="margin:3%" [label]="'Pole'" [url]="urlPole" (onSelectValue)='selectPole($event)'></app-spinner-list>
    <app-spinner-list *ngIf="role !== null && role['name'] !== 'ROLE_ADMIN' && hospital !== null && pole !== null" style="margin:3%" [label]="'Service'" [url]="urlService" (onSelectValue)='selectService($event)'></app-spinner-list>
    <app-spinner-list *ngIf="role !== null && role['name'] !== 'ROLE_ADMIN' && service !== null" style="margin:3%" [label]="'Savoir-faire'" [url]="urlSkill" (onSelectValue)='selectSkill($event)'></app-spinner-list>
    
    <mat-form-field class="full-width">
      <input matInput placeholder="Prénom" formControlName="firstname" name="firstname" required>
      <mat-error *ngIf="createUserForm.controls.firstname.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
      <input matInput placeholder="Nom" formControlName="lastname" type="text" name="lastname" required>
      <mat-error *ngIf="createUserForm.controls.lastname.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
      <input matInput placeholder="Téléphone (+33)" formControlName="tel" type="tel" pattern="[0-9]{10}" name="tel" required>
      <mat-error *ngIf="createUserForm.controls.tel.invalid">Veuillez remplir ce champ correctement</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" pattern="(.+)@(.+)\.(.+)" type="email" name="email" required>
        <mat-error *ngIf="createUserForm.controls.email.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
        <input matInput placeholder="Adresse" formControlName="address" type="text" name="address" required>
        <mat-error *ngIf="createUserForm.controls.address.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Date de naissance (JJ/MM/AAAA)" formControlName="birthdate" type="text" name="birthdate" required>
        <mat-error *ngIf="createUserForm.controls.birthdate.invalid">Veuillez remplir ce champ correctement</mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <mat-card-actions class="btn-submit">
      <button mat-raised-button (click)="save()" type="submit" color="primary">Créer un utilisateur</button>
    </mat-card-actions>
    <br/>
    <br/>
</form>