<div class="container">
  <mat-card style="margin:3%" *ngIf="user != null">
    <h3 style="text-align: center">{{user['lastName']}} {{user['firstName']}}</h3>
    <p>Date de naissance: {{birthdate}}</p>
    <p *ngIf="user['role'] != null">Role: {{user['role']['name']}}</p>
    <p>Email: {{user['email']}}</p>
    <p *ngIf="user['unit'] != null">Service: {{user['unit']['name']}} ({{user['unit']['description']}}}</p>
  </mat-card>
</div>
