<div class="container">
  <div class="logo-container">
    <div class="logo">
      <img src="/assets/img/app_logo_full.png"/>
    </div>
  </div>
  <div class="login-card">
    <form class="login-form" [formGroup]="registerForm">
        <mat-form-field class="full-width">
          <input matInput placeholder="Utilisateur" formControlName="username" name="username" required>
          <mat-error *ngIf="registerForm.controls.username.invalid">Veuillez remplir ce champ</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Mot de passe" formControlName="password" type="password" name="password" required>
          <mat-error *ngIf="registerForm.controls.password.invalid">Veuillez remplir ce champ</mat-error>

        </mat-form-field>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        <br/>
        <mat-card-actions class="btn-submit">
          <button mat-raised-button (click)="login()" color="primary">Se connecter</button>
        </mat-card-actions>
    </form>
  </div>
</div>
