.logo-container {
    width:100%;
}

.logo {
    width: 30%;
    height: auto;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 100%;
}

.container {
    width:100%;
}

.login-card {
    width:40%;
    margin: auto;
}

.login-form {
    text-align: center;
    width: 100%;
}

.full-width {
    width: 80%;
}

.btn-submit {
    text-align: center;
}