<div class="container">
  <div class="row">
    <div class="tab-col" (click)="changeActive(0)" [class.active]="tab[0]">Créer un utilisateur</div>    
    <div class="tab-col" (click)="changeActive(1)" [class.active]="tab[1]">Créer une unité</div>
    <div class="tab-col" (click)="changeActive(2)" [class.active]="tab[2]">Créer un savoir-faire</div>
    <div class="tab-col" (click)="changeActive(3)" [class.active]="tab[3]">Créer un rôle</div>
  </div>
  <div class="action-container">
    <app-create-user *ngIf="tab[0]"></app-create-user>
    <app-create-unit *ngIf="tab[1]"></app-create-unit>
    <app-create-skill *ngIf="tab[2]"></app-create-skill>
    <app-create-role *ngIf="tab[3]"></app-create-role>
  </div>
</div>