.container {
    width:80%;
    margin: auto;
}

.row {
    display:block;
    text-align: center;
}

.tab-col {
    color: #3f51b5;
    display: inline-block;
    border-bottom: 2px solid #3f51b5;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
}

.active {
    opacity:1;
}

.action-container {
    width:60%;
    margin: auto;
    margin-top:3%;
}