.logo-header {
    width: 20%;
}

.logo-header img {
    width: 100%;
    height: 100%;
}

.align-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.align-right button {
    font-size: 16px;
    font-family: 'Roboto';
}

.header-row {
    position: relative;
}