<mat-toolbar color="primary" *ngIf="state">
  <mat-toolbar-row class="header-row">
    <span class="logo-header"><img src="/assets/img/app_logo_inline.png"/></span>
    <div class="align-right">
      <button *ngIf="role === 'ROLE_ADMIN'" mat-button [routerLink]="['/adm']">Administration</button>
      <button *ngIf="role === 'ROLE_MEDECIN'" mat-button [routerLink]="['/searchMedicalFile']">Recherche de dossier médical</button>
      <button mat-button [routerLink]="['/profile']">Profil</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Se deconnecter</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
