<mat-card>
<form [formGroup]="createHospitalForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Nom de l'hôpital" formControlName="hospitalname" name="hospitalname" required>
      <mat-error *ngIf="createHospitalForm.controls.hospitalname.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Description" formControlName="description" name="description" required>
      <mat-error *ngIf="createHospitalForm.controls.description.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <mat-card-actions class="btn-submit">
      <button mat-raised-button (click)="saveHospital()" type="submit" color="primary">Créer un hôpital</button>
    </mat-card-actions>
</form>
</mat-card>
<br/>

<mat-card>
<form [formGroup]="createPoleForm">
    <app-spinner-list style="margin:3%" [label]="'Hôpital'" [url]="'/admin/getAllHospitals'" (onSelectValue)='selectHospital($event, 0)'></app-spinner-list>
    <br/>
    <mat-form-field class="full-width">
      <input matInput placeholder="Nom du pôle" formControlName="polename" name="polename" required>
      <mat-error *ngIf="createPoleForm.controls.polename.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Description" formControlName="description" name="description" required>
        <mat-error *ngIf="createPoleForm.controls.description.invalid">Veuillez remplir ce champ</mat-error>
      </mat-form-field>
    <br/>
    <br/>
    <mat-card-actions class="btn-submit">
      <button mat-raised-button (click)="savePole()" type="submit" color="primary">Créer un pôle</button>
    </mat-card-actions>
</form>
</mat-card>
<br/>

<mat-card>
<form [formGroup]="createServiceForm">
    <app-spinner-list style="margin:3%" [label]="'Hôpital'" [url]="'/admin/getAllHospitals'" (onSelectValue)='selectHospital($event, 1)'></app-spinner-list>  
    <app-spinner-list *ngIf="hospital[1] !== null" style="margin:3%" [label]="'Pole'" [url]="urlPole" (onSelectValue)='selectPole($event)'></app-spinner-list>
    <br/>
    <mat-form-field class="full-width">
      <input matInput placeholder="Nom du service" formControlName="servicename" name="servicename" required>
      <mat-error *ngIf="createServiceForm.controls.servicename.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Description" formControlName="description" name="description" required>
        <mat-error *ngIf="createServiceForm.controls.description.invalid">Veuillez remplir ce champ</mat-error>
      </mat-form-field>
    <br/>
    <br/>
    <mat-card-actions class="btn-submit">
      <button mat-raised-button (click)="saveService()" type="submit" color="primary">Créer un service</button>
    </mat-card-actions>
</form>
</mat-card>
