<div class="container">
  <mat-card *ngIf="dmp != null">
    <h3 matLine style="text-align: center"> {{dmp.patient.firstName}} {{dmp.patient.lastName}} </h3>
    <div>
      <span><b>Numéro de sécurité social:</b> <span *ngIf="dmp.patient.socialSecurityNumber == null"> non renseigné</span> {{dmp.patient.socialSecurityNumber}} </span> <br/>
      <span><b>Crée par:</b> <span *ngIf="dmp.createdBy.firstName == null && dmp.createdBy.lastName"> non renseigné</span>
        {{dmp.createdBy.firstName}} {{dmp.createdBy.lastName}} <span *ngIf="dmp.createdBy.unit != null && dmp.createdBy.unit.name != null"> du service de {{dmp.createdBy.unit.name}}</span></span> <br/>
      <span><b>Description de l'état de santé:</b> <span *ngIf="dmp.patient.description == '' "> non renseigné</span> {{dmp.patient.description}}</span> <br/>
      <p><b>Actes:</b> <span *ngIf="dmp.acts.length == 0"> aucun acte trouvé</span></p>
      <div *ngIf="dmp.acts.length != 0">
          Ce patient possède des actes que l'application web ne peut pas afficher, veuillez utiliser l'application mobile pour accéder aux documents.
      </div>
    </div>
    
  </mat-card>
</div>
