<form [formGroup]="createSkillForm">
    <app-spinner-list style="margin:3%" [label]="'Service'" [url]="'/admin/getAllServices'" (onSelectValue)='selectService($event)'></app-spinner-list>
    <br/>
    <mat-form-field class="full-width">
      <input matInput placeholder="Savoir-faire" formControlName="skillname" name="skillname" required>
      <mat-error *ngIf="createSkillForm.controls.skillname.invalid">Veuillez remplir ce champ</mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <mat-card-actions class="btn-submit">
      <button mat-raised-button (click)="save()" type="submit" color="primary">Créer un savoir-faire</button>
    </mat-card-actions>
    <br/>
    <br/>
</form>